.myButton{
    display: inline-block;
    padding: 5px 20px;
    font-weight: 50px;
    text-decoration: none;
    border-radius: 25%;
    background-color: #e67e22;
	border: 0.5px solid #e67e22;
    height: 50px;
    width: auto;
    text-align: center;
}